# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# OS / Editor specific
.DS_Store
Thumbs.db

# Environment variables / secrets (if any)
.env

# Model checkpoints
*.h5
*.ckpt
*.pt
*.pkl

# Logs and runtime
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the generated structure file
structure.txt
